* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style-type: none;
}

.container {
  max-width: 1158px;
  padding: 0 24px;
  margin: 0 auto;
}

.nav {
  padding-top: 32px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__btns {
  display: flex;
  gap: 12px;
}

.nav__btn--log {
  width: 76px;
  height: 40px;
  color: rgb(104, 94, 214);
  background-color: rgb(199, 197, 224);
  border: none;
  border-radius: 5px;
}

.nav__btn--reg {
  width: 138px;
  height: 40px;
  background-color: rgb(104, 94, 214);
  color: white;
  border: none;
  border-radius: 5px;
}

.hero__left--title {
  font-size: 50px;
  color: rgb(104, 94, 214);
}
.hero__left--title span {
  color: rgb(29, 37, 48);
}

.hero__content {
  padding-top: 127px;
}

.hero__left--text {
  width: 482px;
  font-size: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 24px;
}
.hero__left--text span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  color: rgb(104, 94, 214);
}

.hero__left--btn {
  width: 168px;
  height: 48px;
  margin-top: 32px;
  background-color: rgb(104, 94, 214);
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.hero__content {
  display: flex;
}

.hero__right {
  margin-top: -40px;
}

.hero__right--img {
  width: 100%;
  height: calc(100vh - 92px);
}

.hero__right--img img {
  width: 100%;
  object-fit: cover;
}

.menu {
  display: none;
  font-size: 28px;
  color: blue;
}

@media screen and (max-width: 990px) {
  .hero__left--title {
    font-size: 32px;
  }
  .hero__left--text {
    width: 270px;
    font-size: 18px;
  }
  .hero__right--img {
    width: 420px;
    height: 338px;
  }
}
@media screen and (max-width: 720px) {
  .hero__content {
    display: flex;
    flex-direction: column;
  }
  .hero__right--img {
    margin-top: 100px;
  }
}
@media screen and (max-width: 580px) {
  .nav__btn--log,
  .nav__btn--reg {
    display: none;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
  }
  .hero__right--img {
    margin-top: 100px;
    width: 330px;
    height: 266px;
  }
  .menu {
    display: block;
  }
}
.tocha {
  padding-top: 100px;
}

.card--img {
  width: 68px;
  height: 68px;
}

.card {
  display: flex;
  gap: 26px;
}

.cards {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.card__title {
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.card__text {
  width: 428px;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 8px;
}

.tocha__left--title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.tocha__content {
  display: flex;
}

.tocha__right {
  width: 43%;
}

.tocha__left {
  margin-top: 100px;
  width: 57%;
  height: 400px;
}

.tocha__right--img {
  flex-shrink: 0;
  object-fit: cover;
}

@media screen and (max-width: 990px) {
  .tocha__right--img {
    width: 321px;
    height: 625px;
  }
  .tocha__left--title {
    font-size: 32px;
  }
  .card--img {
    width: 42px;
    height: 42px;
  }
  .card__title {
    font-size: 20px;
  }
  .card__text {
    width: 354px;
    font-size: 16px;
  }
  .tocha__right {
    margin-top: 100px;
  }
  .tocha__left--title {
    font-size: 32px;
    width: 284px;
  }
}
@media screen and (max-width: 768px) {
  .card__title {
    font-size: 16px;
  }
  .card__text {
    font-size: 14px;
  }
  .tocha__content {
    display: flex;
    flex-direction: column;
  }
  .tocha__right--img {
    margin-top: 50px;
  }
}
@media screen and (max-width: 580px) {
  .card__title {
    font-size: 16px;
  }
  .card__text {
    font-size: 14px;
  }
}
.tarifs {
  padding-top: 100px;
}

.tarif__up {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tarif__title {
  font-size: 46px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.tarif__sub__title {
  margin-top: 16px;
  font-size: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.table__card {
  width: 350px;
  height: 387px;
  border: 1px solid black;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.table__title {
  text-align: center;
  background-color: rgba(104, 94, 214, 0.05);
}
.table__title h1 {
  color: #685ed6;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px; /* 200% */
}

.table__text {
  margin-top: 40px;
  margin: 0 auto;
  width: 255px;
  text-align: center;
  margin-top: 46px;
}
.table__text h1 {
  color: var(--black, #1d2530);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}
.table__text p {
  color: var(--black, #1d2530);
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  margin-top: 32px;
}

.table__btn {
  width: 287px;
  height: 48px;
  background-color: #685ed6;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  margin-top: 46px;
}

.table__btns {
  display: flex;
  justify-content: center;
}

.tables__wrapper {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 990px) {
  .tables__wrapper {
    overflow-x: auto;
  }
  .tarif__title {
    font-size: 32px;
  }
  .tarif__sub__title {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
