* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style-type: none;
}

.container {
  max-width: 1158px;
  padding: 0 24px;
  margin: 0 auto;
}
