.nav {
  padding-top: 32px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__btns {
  display: flex;
  gap: 12px;
}

.nav__btn--log {
  width: 76px;
  height: 40px;
  color: rgba(104, 94, 214, 1);
  background-color: rgb(199, 197, 224);
  border: none;
  border-radius: 5px;
}

.nav__btn--reg {
  width: 138px;
  height: 40px;
  background-color: rgba(104, 94, 214, 1);
  color: white;
  border: none;
  border-radius: 5px;
}

.hero__left--title {
  font-size: 50px;
  color: rgba(104, 94, 214, 1);
  span {
    color: rgba(29, 37, 48, 1);
  }
}

.hero__content {
  padding-top: 127px;
}

.hero__left--text {
  width: 482px;
  font-size: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 24px;
  span {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    color: rgba(104, 94, 214, 1);
  }
}

.hero__left--btn {
  width: 168px;
  height: 48px;
  margin-top: 32px;
  background-color: rgba(104, 94, 214, 1);
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.hero__content {
  display: flex;
}

.hero__right {
  margin-top: -40px;
}

.hero__right--img {
  width: 100%;
  height: calc(100vh - 92px);
}
.hero__right--img img {
  width: 100%;
  object-fit: cover;
}

.menu {
  display: none;
  font-size: 28px;
  color: blue;
}

@media screen and (max-width: 990px) {
  .hero__left--title {
    font-size: 32px;
  }

  .hero__left--text {
    width: 270px;
    font-size: 18px;
  }
  .hero__right--img {
    width: 420px;
    height: 338px;
  }
}

@media screen and (max-width: 720px) {
  .hero__content {
    display: flex;
    flex-direction: column;
  }

  .hero__right--img {
    margin-top: 100px;
  }
}

@media screen and (max-width: 580px) {
  .nav__btn--log,
  .nav__btn--reg {
    display: none;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
  }
  .hero__right--img {
    margin-top: 100px;
    width: 330px;
    height: 266px;
  }
  .menu {
    display: block;
  }
}
