.tarifs {
  padding-top: 100px;
}

.tarif__up {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tarif__title {
  font-size: 46px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.tarif__sub__title {
  margin-top: 16px;
  font-size: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.table__card {
  width: 350px;
  height: 387px;
  border: 1px solid black;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.table__title {
  text-align: center;
  background-color: rgba(104, 94, 214, 0.05);
  h1 {
    color: #685ed6;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px; /* 200% */
  }
}

.table__text {
  margin-top: 40px;
  margin: 0 auto;
  width: 255px;
  text-align: center;
  margin-top: 46px;
  h1 {
    color: var(--black, #1d2530);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 25px;
  }
  p {
    color: var(--black, #1d2530);
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    margin-top: 32px;
  }
}

.table__btn {
  width: 287px;
  height: 48px;
  background-color: #685ed6;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  margin-top: 46px;
}
.table__btns {
  display: flex;
  justify-content: center;
}

.tables__wrapper {
  margin-top: 40px;
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 990px) {
  .tables__wrapper {
    overflow-x: auto;
  }
  .tarif__title {
    font-size: 32px;
  }

  .tarif__sub__title {
    font-size: 20px;
  }
}

