.tocha {
  padding-top: 100px;
}

.card--img {
  width: 68px;
  height: 68px;
}

.card {
  display: flex;
  gap: 26px;
}

.cards {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.card__title {
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.card__text {
  width: 428px;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 8px;
}

.tocha__left--title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.tocha__content {
  display: flex;
}

.tocha__right {
  width: 43%;
}

.tocha__left {
  margin-top: 100px;
  width: 57%;
  height: 400px;
}

.tocha__right--img {
  flex-shrink: 0;
  object-fit: cover;
}

@media screen and (max-width: 990px) {
  .tocha__right--img {
    width: 321px;
    height: 625px;
  }
  .tocha__left--title {
    font-size: 32px;
  }
  .card--img {
    width: 42px;
    height: 42px;
  }

  .card__title {
    font-size: 20px;
  }

  .card__text {
    width: 354px;
    font-size: 16px;
  }

  .tocha__right {
    margin-top: 100px;
  }

  .tocha__left--title {
    font-size: 32px;
    width: 284px;
  }
}

@media screen and (max-width: 768px) {
  .card__title {
    font-size: 16px;
  }
  .card__text {
    font-size: 14px;
  }
  .tocha__content {
    display: flex;
    flex-direction: column;
  }

  .tocha__right--img {
    margin-top: 50px;
  }
}

@media screen and (max-width: 580px) {
  .card__title {
    font-size: 16px;
  }
  .card__text {
    font-size: 14px;
  }
}
